* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
  background-color: lightgray;
}

main {
  width: 450px;
  margin: 20px auto;
  padding: 2em;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

input[type=text] {
  border: solid 1px #244751;
  padding: .5em;
  font-size: 1em;
}

button {
  padding: .5em;
  background-color: white;
  border: solid 1px #244751;
  display: inline-block;
}

form {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

#you {
  width: 50px;
}

#m {
  width: 284px;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

#messages li { 
  padding: 5px 10px;
  background: #ddd;
}

#messages li:nth-child(odd) { 
  background: #eee; 
}
